
.data{
  padding: 20px 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &__single{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    margin: 0 5%;
    flex-basis: 40%;
  }

  &__chart{
    margin: 30px 0;
  }
}


@media (max-width: 992px) {
  .data{
    width: 100%;
    display: block;
    padding: 0px;

    &__single{
      flex-basis: 100%;
    }

    &__chart{
      width: 90vw;

      img{
        width: 100%;
      }
    }
  }
}
