.topnav, .sidenav{
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  
  &__option{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    border-left: $line 1px solid;
    color: $sidebar-font;
    
    > *{
      margin: 0 5px;
    }
  }

  &__option{
    &--large{
      font-size: $wallet-size;
      font-family: $side-bar-menu-font;
      font-weight: 600;
    }
  }
}

@media (max-width: 992px) {
  .header{
    display: none;
  }
}