@import '../components/manager';

.option__link, .title {
  display: flex;
  align-items: center;
}

.option{
  display: flex;
  flex-direction: column;
  font-family: $side-bar-menu-font;
  font-size: $sidebar-font-size;
  margin-top: 10px;
  margin-left: 0;
  padding: 15px 0;
  border-bottom: $line 1px solid;
  
  
  &__link{ 
    padding-left: 15px;
    border-left: $sidebar-background 4px solid;
    height: 50px;
    line-height: 30px;
    text-decoration: none;
    list-style: none;
    color: $sidebar-font;

    [class^="icon-"]{
      margin-right: 10%;
    }
  }  
}

.option__link:hover, .active{
  color: $active-link;
  background-color: $active-background;
  border-left: $accent 4px solid;
}

.title{
  background-color: $sidebar-background;
  width: 15vw;
  height: 50px;
  padding-bottom: 10px;

  &__logo{
    color: $sidebar-font;
    font-size: $logo-font-size;
    margin-top: 10px;
    color: $logo;
    font-family: $logo-font;
    padding-left: 10px;
    padding-bottom: 4px;
  }
}

.hamburger {
  color: $logo;
  font-size: 30px;
  position: absolute;
  right: 5%;
  top: 5px;

  &:hover{
    cursor: pointer;
  }
}

.sidenav, .sidebar-nav{
  display: none;
}

@media (max-width: 992px) {
  .sidebar{
    position: relative;
    width: 100%;
    // position: absolute;
    // width: 100vw;
    // height: auto;
    // top: 0;
  }

  .title{
    font-size: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
  }

  .sidenav, .sidebar-nav{
    display: flex;
    flex-direction: column;
  
    &__option{
      width: 60%;
      border: none;
      padding-left: 15px;
      height: 50px;
      line-height: 30px;
      text-decoration: none;
      list-style: none;
      color: $sidebar-font;
    }
  }
  
  .input-box:checked{
    display: block;
  }

  .manager{
    border-bottom: $line 1px solid;

    &__prev{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      &__img{
        position: relative;
        padding: 0;
        margin: 0;
        margin-right: 10%;
      }

      &__name{
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
      }

      &__status{
        display: none;
      }
    }
  }

  .sidebar-toggle.hidden{
    display: none;
  }
}